$primary: #91E6E6;
$green: rgba(153, 238, 67, .26);
$blue: rgba(177, 194, 237, .3);
$red: rgba(230, 145, 172, .26);
$yellow: rgba(223, 230, 145, .26);

@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati&family=Monoton&display=swap');

$header: 'Monoton', cursive;
$para: 'Anek Gujarati', sans-serif;